<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="root">Home</a></li>
  <li role="presentation"><a href="users">Users</a></li>
  <li role="presentation"><a href="artists">Artisants</a></li>
</ul>
<h1 class="home-page">Welcome to Atelier</h1>
<h3 class="home-page2">We put in connection a thousand of artisan and people who appreciate and wants hands-crafted items.</h3>