<!-- <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="root">Home</a></li>
  <li role="presentation"><a href="users">Users</a></li>
  <li role="presentation"><a href="artists">Artisans</a></li>
</ul> -->
<div class= "background_home_text">

<h1 class="home-page">Welcome to Atelier</h1>
<h3 class="home-page2">We put in connection a thousand of artisan that live in France and people who appreciate and wants hands-crafted items. <br> Atelier enable people and artisan to share the experience of creating a unique good with a true meaning.</h3>


<div class= "home-pills">
	<button type="button" class="btn btn-outline-primary"><a href="users">User</a></button>
	<button type="button" class="btn btn-outline-primary"><a href="artists">Artisan</a></button>
	<!-- <button type="button" class="btn btn-outline-primary"><a href="#">Log In</a></button> -->
</div>
</div>