<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="users#index">Users</a></li>
  <li role="presentation"><a href="artists#index">Artisants</a></li>
</ul>
<h1>Welcome to Atelier</h1>
<h3>We put in connection a thousand of artisan and people who appreciate and wants hands-crafted items.</h3>